@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.google.com/specimen/Fraunces');
}

body {
  background-color: hsl(30, 38%, 92%);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-container {

  border-radius: 20px;
  height: 500px;
  width: 1440px;
  margin: 0 auto;
}

.row {
  border: 1px solid red;
}

.cart-button {
  background-color: hsl(158, 36%, 37%);
}