.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-container {
  background-color: hsl(30, 38%, 92%);
  width: 1440px;
  margin: 0 auto;
}

.row {
  border: 1px solid red;
}

.cart-button {
  background-color: hsl(158, 36%, 37%);
}