
body {
  background-color: hsl(30, 38%, 92%);
}

.card-container {
  display: flex;
  height: 600px;
  width: 50%;
  margin: 0% auto;
}

.image-container {
  height: 600px;

}

.description-container {
  background-color: white;
  height: 600px;
}

.cart-button {
  background-color: hsl(158, 36%, 37%);
}